.collections {
  background: map-get($colors, blue);

  overflow: hidden;
  padding: 3%;

  height: 100vh;

  @include breakpoint(s) {
    height: 100vh;
  }
  &__list {
    padding-top: 5%;
    position: relative;
  }
  a {
    text-decoration: none;
  }
}

.name {
  display: none;

  @include breakpoint(s) {
    display: block;
  }
  font-weight: 300;
  &__white {
    color: white;
  }
  &__blue {
    color: map-get($colors, blue);
  }
}

.collection {
  color: map-get($colors, grey);
  overflow: hidden;
  display: flex;
  width: 100%;
  justify-content: space-between;
  img {
    width: 25vw;
    position: absolute;
    left: 40%;
    top: 0px;
  }

  &:hover {
    cursor: pointer;
    color: white;
  }
}

.h1 {
  display: none;
}

.hdp {
  &:hover .h1 {
    display: block;
  }
}

.n1 {
  display: none;
}

.nina {
  &:hover .n1 {
    display: block;
  }
}

.bx1 {
  display: none;
}

.bx {
  &:hover .bx1 {
    display: block;
  }
}

.collection-layout {
  position: sticky;
  height: 93vh;
  overflow-y: hidden;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  &__picture {
    &:hover {
      cursor: pointer;
    }

    img {
      display: block;
      margin: 0 auto;

      max-height: 60vh;
      max-width: 70vw;
      @include breakpoint(m) {
        max-height: 70vh;
        max-width: 80vw;
      }
    }
  }
}

.thin {
  font-weight: 400;
}

.coll-name {
  color: map-get($colors, blue);
  padding-left: 5%;
  width: 250px;

  svg {
    margin: 0px 5px 4px 0px;
  }
}

.divleft {
  z-index: 999;
  position: absolute;
  -webkit-tap-highlight-color: transparent;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100vh;
  &:hover {
    cursor: pointer;
  }
}

.divright {
  z-index: 999;
  position: absolute;
  -webkit-tap-highlight-color: transparent;
  top: 0px;
  right: 0px;
  width: 50%;
  height: 100vh;
  &:hover {
    cursor: pointer;
  }
}
